.home-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f4f4f4;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .personal-info {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .charts-and-polls {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .chart-container,
  .poll-container {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  
  .more-info {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  